.header {
  background-color: black;
  color: white;
  display: flex;
}

.header h1 {
  display: flex;
  font-size: 1vw;
  margin: 0.5em;
  margin-right: 15%;
  margin-left: 10%;
}

.header button {
  display: flex;
  font-size: 1vw;
  margin: 0.5em;
  margin-right: 15%;
  margin-left: 10%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
}

.header button:hover {
  display: flex;
  background-color: white;
  color: black;
}

.main {
  display: flex;
  height: 90vh;
}

.mainmenu {
  position: relative;
  padding: 1vw;
  border-right: 5px solid black;
}

.mainmenu button {
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 2vw;
}
.mainmenu button:hover {
  background-color: white;
  color: black;
}

.mainmenu h1 {
  display: flex;
  width: 100%;
  text-align: center;
}

.mainscreen {
  display: flex;
  
}

.mainscreen {
  display: flex;
  margin: 5px;
  width: auto;
  height: auto;
}

th {
  display: flex;
  background-color: #4caf50;
  color: white;
}

th,
td {
  border-bottom: 1px solid #ddd;
   width: auto;
   display: flex;
  position: relative;
  
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: black;
  color: white;
   width: auto;
  position: relative;
}

table {
  
  padding: none;
  margin: none;
   width: auto;
  position: relative;
  
}

.review {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  height: 550px;
  border: 1px solid black;
   width: auto;
  position: relative;
}

.review h2 {
  margin: 0px;
  padding: 0px;
  width: auto;
  height: auto;
}
.review p {
  margin: 0px;
  padding: 0px;
   width: auto;
  position: relative;
  width: auto;
  height: auto;
}

.testscreen {
  width: 100%;
  display: flex;
}

.search {
  width: 50%;
}

.test {
  width: 50%;
  width: auto;
  height: auto;
}

.scenarioManageSearch {
  display: flex;
  border: 1px solid black;
  width: auto;
  height: auto;
}

.inputManage {
  margin: 10px;
  width: auto;
  position: relative;
  width: auto;
  height: auto;
}

@font-face{
    font-family: DMMono;
    src: url(fonts/DMMono-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    width: auto;
  height: auto;
    
}

@font-face{
    
    font-family: Play;
    src: url(fonts/Play-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    width: auto;
  height: auto;
    
}
    
    
@font-face{
    font-family: Monoton;
    src: url(fonts/Monoton-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    width: auto;
  height: auto;
}


body {

        width: auto;
  height: auto;
  
}

.top-img {

  background-image: url(images/gvbanner.jpg);
  padding: 1px;
  min-height: 245px;
  max-height: 360px;
  min-width:  1700px;
  background-position: left;
  position: relative;
  width: auto;
  height: auto;
}


.container {
  padding: 1px;
  position: absolute;

  color: #f2f2f2;
  text-align: left;
  min-width:  1700px;
  width: auto;
  height: auto;
  
}

.navv {
  
  overflow: hidden;
  background-color: #333;

}
.navv a {
   
  float: left;
  color: #f2f2f2;
  text-align: left;
  padding: 20px 50px;
  text-decoration: none;
  font-size: 20px;
  width: auto;
  height: auto;

}

.navv a:hover {
  background-color: #ddd;
  color: black;
  width: auto;
  height: auto;
}


body, h1,h3, h4 {

  font-family: Play;   
  width: auto;
  height: auto;
  
}

h2 {
    
 font-family: Play;  
 width: auto;
  height: auto; 
}

h5, h6 {
    font-family: DMMono;
    width: auto;
  height: auto;
}
p{
    font-family: DMMono;

    font-size: 55px;
    width: auto;
    height: auto;
    
}

section {

  border: 1px solid gray;
  width: 100%;
  float: left;
  width: auto;
  height: auto;
}


.lfloat {
  float: left;
  width: 300px;
  height: 200px;
  overflow: hidden;
  width: auto;
  height: auto;
}

.lfloat img{
  width: 100%;
  height: 100%;
  width: auto;
  height: auto;
}

.rfloat {

  float: right;
  width: 100px;
  height: 200px;
  overflow: hidden;
  width: auto;
  height: auto;
}

.rfloat img{
    width: 100%;
    height: 100%;
    width: auto;
  height: auto;
    
}


* {
 
  float: center;
  box-sizing: border-box;
  width: auto;
  position: relative;
  
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 25px;
  width: auto;
  height: auto;
}

input[type=submit] {
  background-color: #04446D;
  color: white;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  width: auto;
  height: auto;
}

.column {
  content: "";
  background-position: left;
  position: relative;
  width: auto;
  height: auto;
}
.row {
  background-position: left;
  position: relative;
  width: auto;
  height: auto;
}
